<div class="row-collapse">
  <p class="text-center">If you have already established on-line access to our WebStore, select the "Sign in" option at
    the top to review your purchase and order history. You can even re-print a receipt if you like. <br><br>If you are
    new to the WebStore, but have made purchases in our retail store and have a receipt, you can create an on-line ID
    that is linked to your existing account. Just select the "Sign in" option and choose "Link to My Existing Account".
  </p>
</div>

<div id="layout-row-footer" class="row-collapse">
  <a [href]="stackoverflowUrl" target="_blank">
    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/stackoverflow-hexagon-social-media-32.png" alt=""
         matTooltip="StackOverflow" matTooltipPosition="above">
  </a>
  <a [href]="twitterUrl" target="_blank">
    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter"
         matTooltipPosition="above">
  </a>
  <a [href]="githubUrl" target="_blank">
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github"
         matTooltipPosition="above">
  </a>
  <a [href]="facebookUrl" target="_blank">
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
  </a>
  <a [href]="googleUrl" target="_blank">
    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png" alt=""
         matTooltip="Google+" matTooltipPosition="above">
  </a>
  <a [href]="linkedinUrl" target="_blank">
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
  </a>
  <BR>
  Copyright © 2020 The Uniform Store, All Rights Reserved | 
  <a href="PrivacyPolicy">Privacy Notice</a>
  Site powered by: The Uniform Solution 6.57100 10/02/22  4:14:48 1
</div>
