<div style="height: 1000px;" class="text-center">

  <div class="site-logo">
    <img [src]="ImagePath"><BR><BR>
  </div>

  <div class="row collapse">
    <div>
      <h1 class="text-center">Contact Us<br /></h1>

    </div>
  </div>
  <div class="row collapse">
    <div>
      <p class="text-center">We enjoy hearing from our customers! Please feel free to give us your comments or suggestions. You may contact us by email, phone, traditional mail or a personal visit to one of our locations.</p>

    </div>
  </div>
  <div class="row collapse">
    <div>
      <h2 class="text-center">Locations</h2>

    </div>
  </div>
  <div class="row collapse">
    <div>
      <p class="text-center">Dublin<br />6767 Dublin Center Dr.<br />Dublin, OH 43017<br />(614)793-0469<br /><br />Monday-Thursday 10a-7p<br />Friday-Saturday 10a-3p</p>

    </div>
  </div>
  <div class="row collapse">
    <div>
      <p class="text-center">Olentangy<br />3001 Olentangy River Rd.<br />Columbus, OH 43202<br />614-262-6009<br /><br />Monday-Thursday 10a-7p<br />Friday-Saturday 10a-4p</p>

    </div>
  </div>
  <div class="row collapse">
    <div>
      <p class="text-center">                                                                                                                                                                             info@theuniformstoreonline.net</p>

    </div>
  </div>
</div>
