<div class="site-logo">
  <img [src]="ImagePath"><BR><BR>
</div>


<div class="row-collapse">
  <h1 class="text-center">Welcome to The Uniform Store Online!</h1><BR>
</div>

<div class="row-collapse">
<p class="text-center">
  Here you will find the same great selections you can find in our retail stores.<BR>
  We hope you enjoy your shopping experience, and please come by our retail locations - we would love to see you!<BR><BR>
  The links below are some of our most popular lines.
</p>
 <BR><BR>
</div>


