<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <app-front-page></app-front-page>
  <div class="custom-divider"></div>

  <app-front-page2></app-front-page2>
  <div class="custom-divider"></div>

  <app-front-page3></app-front-page3>
  <div class="custom-divider"></div>

  <app-front-page4></app-front-page4>
  <div class="custom-divider"></div>

  <app-front-page5></app-front-page5>
  <div class="custom-divider"></div>

  <app-front-page6></app-front-page6>
  <div class="custom-divider"></div>

  <app-demo8-eventbinding></app-demo8-eventbinding>
  <div class="custom-divider"></div>

  <app-demo9-templaterefvars></app-demo9-templaterefvars>
  <div class="custom-divider"></div>

  <app-demo10-onewaydatabinding></app-demo10-onewaydatabinding>
  <div class="custom-divider"></div>

  <app-demo11-twowaydatabinding></app-demo11-twowaydatabinding>
  <div class="custom-divider"></div>

  <app-demo12-ngif></app-demo12-ngif>
  <div class="custom-divider"></div>

  <app-demo13-ngswitch></app-demo13-ngswitch>
  <div class="custom-divider"></div>

  <app-demo14-ngfor></app-demo14-ngfor>
  <div class="custom-divider"></div>

  <app-demo15-childparen [parentData]="parentMessage" (childEvent)="messageChild=($event)"></app-demo15-childparen>
  <div class="custom-divider"></div>

  <app-demo16-pipesfilters></app-demo16-pipesfilters>
  <div class="custom-divider"></div>

  <app-demo17-serviceemployeelist></app-demo17-serviceemployeelist>
  <div class="custom-divider"></div>

  <app-employee-http-list></app-employee-http-list>
  <div class="custom-divider"></div>

</div>


