<div class="site-logo">
  <img [src]="ImagePath"><BR><BR>
</div>

<div class="text-center">

  <ul *ngFor="let uniformImage of uniformImages | slice:0:7;">
        <li>
            <a class="imgLink">
              <img src='{{ uniformImage.url }}'>
              <p>{{ uniformImage.title }}</p>
              <span><strong>{{ uniformImage.price }} SR</strong></span>
            </a>
        </li>
  </ul>

  <ul *ngFor="let uniformImage of uniformImages2 | slice:0:7;">
    <li>
      <a class="imgLink">
        <img src='{{ uniformImage.url }}'>
        <p>{{ uniformImage.title }}</p>
        <span><strong>{{ uniformImage.price }} SR</strong></span>
      </a>
    </li>
  </ul>

  <ul *ngFor="let uniformImage of uniformImages3 | slice:0:7;">
    <li>
      <a class="imgLink">
        <img src='{{ uniformImage.url }}'>
        <p>{{ uniformImage.title }}</p>
        <span><strong>{{ uniformImage.price }} SR</strong></span>
      </a>
    </li>
  </ul>

</div><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
