<body class="content-center">
<div class="site-logo">
  <img [src]="ImagePath"><BR><BR>
</div>
<h1> Shop BY Colour</h1>

<mat-tab-group>

  <mat-tab label="BLACK">
    <ng-template mat-tab-label>
      <mat-icon class="black-tab-icon">spa</mat-icon>
      <span style="color: #000000;">BLACK</span>
    </ng-template>


      <ul class="text-center" *ngFor="let uniformBlack of uniformBlacks">
        <li>
          <a class="imgLink">
            <img src='{{ uniformBlack.url }}'>
            <p>{{ uniformBlack.title }}</p>
            <span><strong>{{ uniformBlack.price }} SR</strong></span>
          </a>
        </li>
      </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="royalblue-tab-icon">spa</mat-icon>
      <span style="color: #1976d2;">ROYAL BLUE</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformRoyalBlue of uniformRoyalBlues">
      <li>
        <a class="imgLink">
          <img src='{{ uniformRoyalBlue.url }}'>
          <p>{{ uniformRoyalBlue.title }}</p>
          <span><strong>{{ uniformRoyalBlue.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="navy-tab-icon">spa</mat-icon>
      <span style="color: #0D3349;">NAVY</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformNavy of uniformNavies">
      <li>
        <a class="imgLink">
          <img src='{{ uniformNavy.url }}'>
          <p>{{ uniformNavy.title }}</p>
          <span><strong>{{ uniformNavy.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="ceilblue-tab-icon">spa</mat-icon>
      <span style="color: #81d4fa;">CIEL BLUE</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformCeilBlue of uniformCeilBlues">
      <li>
        <a class="imgLink">
          <img src='{{ uniformCeilBlue.url }}'>
          <p>{{ uniformCeilBlue.title }}</p>
          <span><strong>{{ uniformCeilBlue.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="pewter-tab-icon">spa</mat-icon>
      <span style="color: #505455;">PEWTER</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformPewter of uniformPewters">
      <li>
        <a class="imgLink">
          <img src='{{ uniformPewter.url }}'>
          <p>{{ uniformPewter.title }}</p>
          <span><strong>{{ uniformPewter.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="red-tab-icon">spa</mat-icon>
      <span style="color: #d50000;">RED</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformRed of uniformReds">
      <li>
        <a class="imgLink">
          <img src='{{ uniformRed.url }}'>
          <p>{{ uniformRed.title }}</p>
          <span><strong>{{ uniformRed.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="grey-tab-icon">spa</mat-icon>
      <span style="color: #757575;">GREY</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformGrey of uniformGreys">
      <li>
        <a class="imgLink">
          <img src='{{ uniformGrey.url }}'>
          <p>{{ uniformGrey.title }}</p>
          <span><strong>{{ uniformGrey.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="huntergreen-tab-icon">spa</mat-icon>
      <span style="color: #1b5e20;">HUNTER GREEN</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformGreen of uniformGreens">
      <li>
        <a class="imgLink">
          <img src='{{ uniformGreen.url }}'>
          <p>{{ uniformGreen.title }}</p>
          <span><strong>{{ uniformGreen.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="white-tab-icon">spa</mat-icon>
      <span style="color: #ffffff;">WHITE</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformWhite of uniformWhites">
      <li>
        <a class="imgLink">
          <img src='{{ uniformWhite.url }}'>
          <p>{{ uniformWhite.title }}</p>
          <span><strong>{{ uniformWhite.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="eggplant-tab-icon">spa</mat-icon>
      <span style="color: #601a3e;">EGGPLANT</span>
    </ng-template>

    <ul class="text-center" *ngFor="let uniformEggplant of uniformEggplants">
      <li>
        <a class="imgLink">
          <img src='{{ uniformEggplant.url }}'>
          <p>{{ uniformEggplant.title }}</p>
          <span><strong>{{ uniformEggplant.price }} SR</strong></span>
        </a>
      </li>
    </ul>

  </mat-tab>

</mat-tab-group>

</body>
