<div>
  <h1>component-demo15-childparent works!</h1>

  <!-- parent to child -->

  <u>Bind / Get Parent Data in Child component</u>:
  Hello <strong>{{parentData}}</strong> <br /> <br /> <br />

<!--  <u>bind / Get Parent Data in Child alias based method</u>:-->
<!--  Hello <strong bind-value="parentData"></strong> <br /><br />-->

  <div>
    <h1>component-demo15-childparent works!</h1>
    <!-- child to parent -->

    <!-- Fire child event on button click -->
    <button (click)="childFireEvent()">Send Child Event to Parent</button>
  </div>

</div>


